---
title: Home
h1: Webtuesday
---

<p>
    Webtuesday is a meeting by developers around Zürich, Switzerland. We meet
    every second Tuesday of the month at various companies in Zürich.
</p>

<h2>Next meeting</h2>
<% if next_meeting.nil? %>
    <p>The next meeting has not been scheduled, yet.</p>
<% else %>
    <p> The <%=link_to("next meeting", next_meeting)%> will take place on
    <strong><%=next_meeting[:title]%></strong> at <%=next_meeting[:time] or "19:30"%>.
    </p>
<% end %>

<div id="feeds"></div>

<h2>Updates</h2>
<p>Keep updated on the following channels:</p>
<ul>
    <li><a href="http://twitter.com/webtuesday">@webtuesday on Twitter</a></li>
    <li><a href="http://techup.ch/">techup.ch</a></li>
    <li><a href="http://groups.google.com/group/webtuesday-announce/">webtuesday-announce mailing list</a></li>
</ul>

<% if future_meetings.count > 0 %>
    <h2>Future dates</h2>
    <ul>
        <% future_meetings.each do |page| %>
            <li>
                <%= link_to(page[:title], page.reps[0]) %>
                <% unless page[:abstract].nil? %> &ndash; <%=page[:abstract] %><% end %>
            </li>
        <% end %>
    </ul>
    <p><a href="/meetings/">See all future and past meetings</a></p>
<% end %>

<h2>Contact</h2>
<p>We are always looking for presentors and locations where we can hold the
    webtuesday. Please get in contact with one of the organizers if you can
    offer that or if you have a question. Or just
    <a href="/howto/">organize your own Webtuesday</a></p>
<ul>
    <li><a href="http://twitter.com/webtuesday">@webtuesday on Twitter</a></li>
    <li><a href="">Harry Fuecks</a></li>
    <li><a href="http://patrice.ch/">Patrice Neff</a></li>
</ul>

<!-- load the Twitter feed -->
<script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAAjIKJZdsneVMYnLsofamAchS98H9opBN_nujJnKZLB6L34znnGxRp3M61BeT83eCqzLxTalCbKZPozA"></script>
<script type="text/javascript">
    google.load("feeds", "1");
    function initialize() {
        var feedControl = new google.feeds.FeedControl();
        feedControl.addFeed("http://search.twitter.com/search.atom?q=webtuesday", "Twitter");
        feedControl.draw(document.getElementById("feeds"));
    }
    google.setOnLoadCallback(initialize);
</script>
